.navbar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #f2f2f2;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-end;
}

.nav-item {
  margin-bottom: 10px; /* Add margin between items */
  padding: 10px;

}

.nav-link {
  text-decoration: none;
  color: #3663b3;
  font-weight: bold;
}

.content {
  margin-top: 10%;
}
